<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div id="slider">
	<input class="bar" type="range" #volume id="rangeinput" value="50" (change)="onSubmit(volume.value)"/>
	<span class="highlight"></span>
	<output id="rangevalue">{{volume}}</output>
</div>



  <!--<div data-role="main" class="ui-content">
    <form>
      <!--<label for="points">Points:</label>-->
      <!--<input type="range" #volume name="points" id="points" value="50" min="0" max="100" (change)="onSubmit(volume.value)"/>
     
    </form>
  </div>
</div>-->


</body>
</html>